
@{
    ViewData["Title"] = "Accountant";
}

<h1>Accountant</h1>
<table class="table">
     <tr>
        <td>
            @Html.ActionLink("Add Salary Details","AddSalaryDetails","Accountant")
        </td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Calculate salary","CalculateSal","Accountant")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Generate Consultant Bill","ConsultantBill","Accountant")</td>
    </tr>
</table>

